@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.lgcontain {
  @apply container h-100 me-8 rounded-lg border-solid border-2 border-green-500 opacity-85 flex
}

.mmcontain {
  @apply container rounded-lg border-solid border-2 border-white opacity-85 flex
}

.smcontain {
  @apply container rounded-lg border-solid border-2 border-orange-600 opacity-85 flex
}

.base {
  @apply text-green-400 font-mono
}

.mainTitle {
  @apply text-center text-4xl
}

.leftali {
  @apply left-0
}

.rightali {
  @apply right-0
}

.flexcol {
  @apply flex-col
}

.flexrow {
  @apply flex-row 
}


